
/* Mobile */
@media only screen and (max-width: 739px) {
    .pic-efec {
        transform: translateY(-55%);
        width: 130px;
        height: 130px;
    }
    
    .profile-pic {
        width: 120px;
        height: 120px;
        transform: translateY(-18%);
        margin-bottom: -41px;
    }
}

/*Tablet*/
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .pic-efec {
        transform: translateY(-55%);
        width: 140px;
        height: 140px;
    }
    
    .profile-pic {
        width: 130px;
        height: 130px;
        transform: translateY(-16%);
        margin-bottom: -41px;
    }
}

/*PC*/
@media only screen and (min-width: 1024px) {
    .pic-efec {
        transform: translateY(-55%);
        width: 150px;
        height: 150px;
    }
    
    .profile-pic {
        width: 140px;
        height: 140px;
        transform: translateY(-14%);
        margin-bottom: -40px;
    }

}